/* ButtonGroup */
.q-button-group {
    display: inline-flex;
}

/* 水平方向：按钮边框合并 */
.q-button-group .q-button {
    border-radius: 0;
    margin-left: -2px;
}

.q-button-group .q-button:first-child {
    border-radius: var(--q-radius-md, 6px) 0 0 var(--q-radius-md, 6px);
    margin-left: 0;
}

.q-button-group .q-button:last-child {
    border-radius: 0 var(--q-radius-md, 6px) var(--q-radius-md, 6px) 0;
}

/* 垂直方向：按钮垂直并排，边框合并，圆角上下 */
.q-itemgroup--vertical.q-button-group .q-button {
    margin-left: 0;
    margin-top: -2px;
    border-radius: 0;
}

.q-itemgroup--vertical.q-button-group .q-button:first-child {
    margin-top: 0;
    border-radius: var(--q-radius-md, 6px) var(--q-radius-md, 6px) 0 0;
}

.q-itemgroup--vertical.q-button-group .q-button:last-child {
    border-radius: 0 0 var(--q-radius-md, 6px) var(--q-radius-md, 6px);
}